:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --accent-color:#E5E5E5 ;
    --text-decoration-color: #2B2B2B;
    --text-second-color: #28B7A3;
    --title-color:#2B2B2B;
    --second-title-color: #303030;
    --secondary-color: #595F73;
    --contact-color: #F6F7FA;
    --contact-link-kolor:#3095A3 ;
    --bacgraund-color: #F6F7FA;
    --bacground-secon-color: #FFFFFF;
    --section-pt: 100px ;
    --section-pb: 20px;
    --icon-color: #3095A3;
    --icon-second-color:#383838;
    --png-accent-color: #404040;
    --burger-text-color:#4F93A1;

  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  button{
    
  cursor: pointer;
  }
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  img {
    display: block;
  }
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  .div{
    margin: 0;
    padding: 0;
  }
  box
  .link {
    content: var(--accent-color);
    text-decoration: none;
  }
  .list {
    list-style: none;
    color: var(--text-decoration-color);
  }
  .container{
    width: 1440px;
    margin: 0 auto;
  }
  
 /* --Header--- */
 .header{
  display: flex;
  justify-content: space-around;
  width: 1440px;
  height:111px;
  margin: 0 auto;
}
.header-wrapper{
  display: flex;
   width: 1265px;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;

}
.burger{
  display: flex;
  align-items: center;
  border: none;
 background: var(--bacground-secon-color);
}
.burger-title{
        font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 0.8;
  text-align: center;
  color: var(--burger-text-color);
  padding-left: 18px;
}
 /* --End Hader-- */
    /* --About Us-- */
    .about-us{
      margin-top: 21px;
    }
    .about-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .about-description{
      padding-top: 14px;
      width: 693px;
      height: 78px;
      font-family: var(--secondary-font);
      font-weight: 500;
      font-size: 16px;
      line-height:1.3;
      text-align:center;
      color: var(--secondary-color);
    }
    .about_us{
      width: 109px;
      height: 24px;
      font-family: var(--secondary-font);
      font-weight: 600;
      font-size: 20px;
      line-height: 0.83;
      text-transform: uppercase;
      color: var(--text-second-color);
    }
    .about-text{
      font-family: var(--main-font);
      font-weight: 700;
      font-size: 80px;
      line-height: 0.84;
      text-align: center;
      text-transform: capitalize;      
      color: var(--text-decoration-color);
    }
    .button-us{
      border: none;
      width: 191px;
      height: 57px;
      background: var(--icon-color);
      border-radius: 65px;
    }
    .button-us_name{
      width: 77px;
      height: 25px;
      font-family: var(--main-font);
      font-weight: 500;
      font-size: 16px;
      line-height: 0.64;
      color: var(--bacground-secon-color);
    }
    .burger-btn__icon{
      padding-left: 21px;
        width: 35.6px;
        height: 12.28px;
    }
    /* --End About Us-- */
    /* --Our Skill-- */
    .our-skill{
      width: 1440px;
      margin: 0 auto;
    }
    .wrapper-skill{
      display: flex;
      flex-direction: column;
      width: 1159px;
      margin-top: 85px;
      }
      .wrapper-skill-list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 27px;
      }
      .skill{
        margin-bottom: 27px;
        transition: filter 250ms linear, opacity 0ms linear 0ms;
      }
      .wrapper-skill-item1{        
        width: 762px;
        height: 370px;
        background: var(--bacground-secon-color);
        box-shadow: 7.19386px 7.19386px 32.3724px rgba(87, 99, 122, 0.12);
        border-radius: 15px;
        margin-right: 27px;
      }
      .wrapper-skill-item2{
        width: 370px;
        height: 370px;
        background: var(--bacground-secon-color);
        box-shadow: 7.19386px 7.19386px 32.3724px rgba(87, 99, 122, 0.12);
        border-radius: 15px;
      }
      .wrapper-skill-item3{
        width: 379px;
        height: 412px;
        background: var(--bacground-secon-color);
        box-shadow: 7.19386px 7.19386px 32.3724px rgba(87, 99, 122, 0.12);
        border-radius: 15px;
        margin-right: 15px;
      }
      .wrapper-skill-item4{
        width: 764px;
        height: 412px;
        background: var(--bacground-secon-color);
        box-shadow: 7.19386px 7.19386px 32.3724px rgba(87, 99, 122, 0.12);
        border-radius: 15px;
      }
      .wrapper-skill-item5{
        width: 762px;
        height: 370px;
        background: var(--bacground-secon-color);
        box-shadow: 7.19386px 7.19386px 32.3724px rgba(87, 99, 122, 0.12);
        border-radius: 15px;
        margin-right: 27px;
      }
      .wrapper-skill-item6{
        width: 370px;
        height: 370px;
        background: var(--bacground-secon-color);
        box-shadow: 7.19386px 7.19386px 32.3724px rgba(87, 99, 122, 0.12);
        border-radius: 15px;
      }
      .wrapper-skill-item7 {
        width: 1157px;
        background: var(--bacground-secon-color);
        box-shadow: 7.19386px 7.19386px 32.3724px rgba(87, 99, 122, 0.12);        border-radius: 15px;
      }
      .skill-descr7{
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1;
        color: var(--secondary-color);
        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 12px 0px;
      }
      .skill-icon-list{
        display: flex;
        justify-content: space-evenly;
        padding-top: 29px;
        padding-bottom: 29px;
      }
      .skill-icon_item{
        display: flex;
        align-items: center;
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 18px;
        line-height: 0.85;
        color: #38AEBE;
      }
      .icon-skill{
        padding-right: 7px;
      }
      .our-list-before{
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 12px;
        line-height: 0.66;
        color: var(--second-title-color);
        }
      .skill-title{
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 36px;
        line-height:0.9;
        text-transform: capitalize;
        color: var(--second-title-color);
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 12px 0px;
      }
      .skill-descr{
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1;
        color: var(--secondary-color);
        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 12px 0px;
        width:221px;
        height:55px;
      }
      .img-wrapper{
        display: flex;
        
      }
      .list-wrap{
        padding-top: 38px;
        padding-left: 42px;
           }
           .list-wrap7{
             display: flex;
             flex-direction: column;
             align-items: center;
             padding-top: 38px;
           }
    /* --End Our Skill-- */
    .contact-us-wrapper{     
      background: var(--bacgraund-color);
      width: 1440px; 
    }
      .contact{         
        margin: 0 auto;
      }
      .contact-title{
        padding-top: 131px;
        display: flex;
        justify-content: center;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 48px;
        line-height:0.84;
        text-align: center;
        text-transform: capitalize;
        color: var(--text-decoration-color);
      }
      .contact-form{
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        width: 480px;
        border: 1px solid var(--bacgraund-color);
        padding-top: 97px;
      }
      .contact-wrapper_input{
        display: flex;
        justify-content: space-around;
        padding-top: 8px;
       
      }
      .contact-form_field{
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 0.82;
        color: #595F73;
      }
      .contact-form_field:last-child{
        padding-left: 120px;
      }
      .init{
        display: flex;
      }
      .contact-form_info{
        border: 1px solid #D7DADE;
        box-sizing: border-box;
        border-radius: 15px;
         max-width:230px;
        height:52px;
      }
      .contact-form_info:first-child{
        margin-right: 20px;
      }
      .contact-wrapper_email{
        display: flex;
        flex-direction: column;
        padding-top: 18px;
      }
      .contact-form-message{
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 0.82;
        color: #595F73;
      }
      .contact-form-message:not(:first-child){
margin-top: 8px;
      }
      .contact-form_email{
        max-width: 369px;
        height: 52px;
        border: 1px solid #D7DADE;
        box-sizing: border-box;
        border-radius: 15px;
      }
      .contact-form_email:not(:first-child){
        margin-top: 8px;}
        .contact-button{ 
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          border: none;
          font-family: var(--main-font);
          font-weight: bold;
          font-size: 14px;
          line-height: 0.63;
          color: var(--bacground-secon-color);
          width: 172px;
          height: 57px;
          background: #3095A3;
          border-radius: 56.1518px;
          margin-top: 38px;
        }
        .form-input:first-child{
          padding-right: 20px;
        }
        .address-contact-list{
          display: flex;
          padding-left: 116px;
        }
        .address-contact-data{
          display: flex;
          flex-direction: column;
        }
        .mail{
          display: flex;
          justify-content: space-between;
         align-items: baseline;
          width: 236px;
        }
        .address-link{
          font-family: Montserrat;
          font-weight: 500;
          font-size: 14px;
          line-height: 0.4;
          color: #2A2A2A;
        }
        .tel{
          display: flex;
          flex-direction: column;
          align-items: stretch;
        }
        .tel-wrap{
          padding-left: 17px;
        }
        .address-contact-address{
          display: flex;
          flex-direction: column;
          padding-left: 76px;
        }
        .address-location1{
        width: 231px;
        height: 79px;
        }
        .address-location2{
        width: 266px;
        height: 79px;
        }
        .address-location3{
          width: 250px;
          height: 79px;
        }
        .footer-list{
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding-top: 116px;
          padding-bottom: 38px;
        }
        .footer-link {
          font-family: var(--secondary-font);
          font-weight: 400;
          font-size: 14px;
          line-height: 0.82;
          text-transform: capitalize;
          color: #757A85;
        }
        .descr{
          padding-right: 20px;
        }
        .footer__icon-linkedin{
          padding:  8px 9px;
          width: 35px;
          height: 35px;
          background: var(--icon-color);
          border-radius: 5px;
          fill: var(--bacground-secon-color);
        }
        .footer__icon-instagram{
          padding: 8px;
          width: 35px;
          height: 35px;
          background: var(--icon-color);
          border-radius: 5px;
          fill: var(--bacground-secon-color);
        }
        .footer__icon-wrap-descr{
          display: flex;
          align-items: center;
        }
        .text-descr{
          font-family: var(--secondary-font);
          font-weight: 500;
          font-size: 14px;
          line-height: 0.82;
          color: #757A85;
          padding-left: 9px;
          padding-right: 7px;
        }
        .footer__icon-earth{
          fill: #3095A3;
        }
        .footer__icon-Vector-down{
          fill: #757A85;
        }