@media screen and(min-width: 320px) and (max-width: 1024px) {
    .about-us{
        width: 375px;
        margin: 0 auto;
    }
    .about-wrapper{
        margin-top: 132px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .about-title{
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 18px;
        line-height: 1.22;
        text-align: center;
        text-transform: uppercase;
        color: var(--text-second-color);
       
    }
    .about-text{
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 50px;
        line-height:1.18;
        text-align: center;
        text-transform: capitalize;
        color: var(--title-color);
        padding-top: 7px;
    }
    .about-description{
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.56;
        text-align: center;
        color: var(--secondary-color);
        width: 333px;
        margin: 0 auto;
        padding-top: 18px;
        padding-bottom: 148px;
    }
    .button-us{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 57px;
        margin-top: 26px;
        background: var(--icon-color);
        border-radius: 56.1518px;
        border: none;   
        cursor: pointer;  
     }
        .button-name-us{
            font-family: var(--main-font);
            font-weight: 500;
            font-size: 16px;
            line-height: 1.56;
            color: var(--bacground-second-color);
            text-align: center;            
            padding-right: 21px; 
        }
        .button-us-icon{         
                fill: var(--bacground-second-color);
        }
}
@media screen and (min-width: 1025px) {
    .about-us{
        margin: 0 auto;
    }
    .about-wrapper{
        margin-top: 132px;
    }
    .about-title{
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        color: var(--text-second-color);
       
    }
    .about-text{
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 80px;
        line-height:1.18;
        text-align: center;
        text-transform: capitalize;
        color: var(--title-color);
        padding-top: 11px;
    }
    .about-description{
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.56;
        text-align: center;
        color: var(--secondary-color);
        width: 693px;
        margin: 0 auto;
        padding-top: 14px;
        padding-bottom: 31px; 
    }
    .button-us{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 57px;
        background: var(--icon-color);
        border-radius: 56.1518px;
        border: none;   
        cursor: pointer; 
        margin: 0 auto;
     }
        .button-name-us{
            font-family: var(--main-font);
            font-weight: 500;
            font-size: 16px;
            line-height: 1.56;
            color: var(--bacground-second-color);
            text-align: center;
            padding-right: 21px;   
        }
        .button-us-icon{       
                fill: var(--bacground-second-color);
        }
}