@media screen and (min-width: 320px) and (max-width: 1024px) {
  
    .contact{
        width: 375px;
        height: 100%;
        background: var(--bacgraund-color);  
        margin: 0 auto;        
    }
    .contact-us-wrapper{
        display: flex;
        background: var(--bacgraund-color);  
        flex-direction: column;
        align-items: center; 
    }
    .contact-title{
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 42px;
        line-height: 1.19;
        text-align: center;
        text-transform: capitalize;        
        color: var(--title-color);
        padding-bottom: 30px;
       padding-top: 30px;
        margin-top: 100px;
    }
    .modal-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .modal-form-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-label-wrapp{
        display: flex;
        flex-direction: column;
    }
    .contact-form-field{
        padding-bottom: 8px;
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        color: var(--secondary-color);
        text-align: end;
        padding-right: 247px;
    }
    .contact-form-info{
        min-width: 331px;
        min-height: 52px;
        border: 1px solid #D7DADE;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .contact-form-field:not(:first-child){
        padding-top: 15px;
    }
    .contact-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 57px;
        margin-top: 26px;
        background: var(--icon-color);
        border-radius: 56.1518px;
        border: none;        
            }
            .contact-button-name{
                font-family: var(--main-font);
                font-weight: 700;
                font-size: 14px;
                line-height: 1.57;
                color: var(--bacground-second-color);
                padding-right: 11px;
            }
    .address-contact-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 46px;
    }
    .address-contact-data{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mail-contact{    
        display: flex;
        align-items: center;    
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 2.5;
        color: var(--text-decoration-color);
    }
    .tel-contact{
        display: flex;
        flex-direction: column;
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 2.5;
        color: var(--text-decoration-color);
        padding-top: 10px;
    }
    .address-link{
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.78;
        color: var(--text-decoration-color);
    }
    .address-contact-wrapper{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-top: 23px;
    }
    .address-location1{
        width: 231px;
    }
    .address-location2{
        padding-top: 23px;
        width:266px;
    }
    .address-location3{
        padding-top: 23px;
        width: 250px;
    }
    .address-location-title{
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.56;
        color: var(--text-decoration-color);
    }
    .addres-location-descr{
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 15px;
        line-height: 1.56;
        color: var(--icon-color);
    }
    .location-descr-title{
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.78;
        color: var(--text-decoration-color);
        letter-spacing: 0.04em;
        padding-left: 30px;
    }
    .can{
        width: 240px;
    }
    .footer-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 30px;
        padding-bottom: 22px;
    }
    .footer-icon-wrapper{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-left: 10px;
    }
    .footer-link1{
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        color: var(--contact-color);
        padding-right: 24px;
        padding-left: 52px;
        text-transform: uppercase;
    }
    .footer-link1:not(:last-child){

        text-transform: uppercase;
    }
    .footer-link2{
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        text-transform: uppercase;
        color: var(--contact-color);
    }
    .location-icon{
        margin-right: 11px;
    }
    .phone-location{
        margin-right: 5px;
    }
    .footer-social-likon{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 35px;
        min-height: 35px;
        fill: var(--bacground-second-color);
        background: var(--icon-color);
        border-radius: 5px;
    }
    .footer-social-likon:first-child{
        margin-left: 5px;
    }
    .footer-social-likon:not(:first-child){
        margin-left: 54px;
    }
    .footer-link-wrap{
        display: flex;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .footer__icon-earth{
        fill: var(--icon-color);
    }
    .text-descr{
        font-family: Montserrat;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        color: var(--contact-color);
        padding-left: 9px;
        padding-right: 7px;
    }
}
@media screen and (min-width: 1025px) {
    .contact{
        background-color: var(--bacgraund-color);
        margin-top: 160px;
        min-width: 1440px;
    }
    .contact-us-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .contact-form{
        display: flex;
    }
    .contact-title{
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 48px;
        line-height: 1.18;
         text-align: center;
        text-transform: capitalize;
        color: var(--title-color);
        padding-top: 131px;
        padding-bottom: 97px;
    }
    .modal-form{
        padding-right: 116px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        width: 480px;
        border: 1px solid var(--bacgraund-color);
        padding-top: 97px;
    }
    .modal-form-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    .form-label-wrapp{
        flex-direction: row;
    }
    .contact-form-field{
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        color: var(--secondary-color);
    }
    .footer-list{
        display: flex;
    }
}