@media screen and (min-width: 320px) and (max-width: 1024px) {
    .contact{
        min-width: 375px;
        height: 100%;
        margin: 0 auto;      
        background-color: var(--bacgraund-color);    
    }
    .contact-us-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin: 0 auto;
    }
    .contact-title{
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 42px;
        line-height: 1.19;
        text-align: center;
        text-transform: capitalize;        
        color: var(--title-color);
        padding-bottom: 30px;
       padding-top: 30px;
        margin-top: 100px;
    }
    .modal-form{
        width: 331px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-form-wrapper{
        display: flex;
        flex-direction: column;
    }
    
    .modal-form-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-label-wrapp{
        display: flex;
        flex-direction: column;
    }
    .contact-form-field{
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        color: var(--secondary-color);
        text-align: start;
    }
    .contact-field-wrapper{
        text-align: start;
        padding-top: 8px;
    }
    .contact-form-info{
        min-width: 331px;
        min-height: 52px;
        border: 1px solid #D7DADE;
        box-sizing: border-box;
        border-radius: 15px;
        margin-top: 8px;
    }
    .contact-form-info-field{
        min-width: 331px;
        min-height: 52px;
        border: 1px solid #D7DADE;
        box-sizing: border-box;
        border-radius: 15px;
        margin-bottom: 15px;
        
    }
    .contact-form{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .contact-form-field:not(:first-child){
        margin-top: 15px;
    }
    .wrap-field{
        margin-top: 8px;
    }
    .contact-button{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 190px;
        height: 57px;
        margin-top: 26px;
        background: var(--icon-color);
        border-radius: 56.1518px;
        border: none;  
        margin-left: 82px;      
            }
            .contact-button-name{
                font-family: var(--main-font);
                font-weight: 700;
                font-size: 14px;
                line-height: 1.57;
                color: var(--bacground-second-color);
                padding-right: 11px;
            }
    .address-contact-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 46px;
    }
    .address-contact-data{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 70px;
        padding-left: 40px;
    }
    .mail-contact{    
        display: flex;
        align-items: center;    
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 2.5;
        color: var(--text-decoration-color);
    }
    .tell-wrapper{
        display: flex;
        flex-direction: column;
        padding-left: 23px;
    }
    .tel-contact{
        display: flex;
        flex-direction: column;
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 2.5;
        color: var(--text-decoration-color);
        padding-top: 10px;
        padding-left: 16px;
    }
    .address-link{
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.78;
        color: var(--text-decoration-color);
    }
    .address-contact-wrapper{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-top: 23px;
    }
    .address-location1{
        width: 231px;
    }
    .address-location2{
        padding-top: 23px;
        width:266px;
    }
    .address-location3{
        padding-top: 23px;
        width: 250px;
    }
    .address-location-title{
        display: flex;
        align-items: center;
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.56;
        color: var(--text-decoration-color);
    }
    .addres-location-descr{
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 15px;
        line-height: 1.56;
        color: var(--icon-color);
    }
    .location-descr-title{
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.78;
        color: var(--text-decoration-color);
        letter-spacing: 0.04em;
        padding-left: 30px;
    }
    .can{
        width: 240px;
    }
    .footer-list{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        padding-top: 30px;
        padding-bottom: 22px;
    }
    .footer-icon-wrapper{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-left: 10px;
    }
    .footer-link-selecta{
        width: 302px;
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        color: var(--contact-color);
        padding-left: 25x;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .footer-link1:not(:last-child){

        text-transform: uppercase;
    }
    .footer-link-Legal{
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        text-transform: capitalize;
        color: var(--contact-color);
    }
    .footer-link-Legal:not(:last-child){
        padding-right: 24px;
    }
    .footer-link-selecta-descr{
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        text-transform: capitalize;
    }
    .location-icon{
        margin-right: 11px;
    }
    .phone-location{
        margin-right: 5px;
    }
    .footer-social-likon{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 35px;
        min-height: 35px;
        fill: var(--bacground-second-color);
        background: var(--icon-color);
        border-radius: 5px;
    }
    .footer-social-likon:first-child{
        margin-left: 5px;
    }
    .footer-social-likon:not(:first-child){
        margin-left: 54px;
    }
    .footer-link-wrap{
        display: flex;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 37px;
    }
    .footer__icon-earth{
        fill: var(--icon-color);
    }
    .contact-lang{
        display: flex;
        align-items: center;
    }
    .text-descr{
        font-family: Montserrat;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        color: var(--contact-color);
        padding-left: 9px;
        padding-right: 7px;
    }
}
@media screen and (min-width: 1025px) {
    .contact{
        background-color: var(--bacgraund-color);
        margin-top: 160px;
        min-width: 1440px;
    }
    .contact-us-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .contact-form{
        display: flex;
        padding-left: 141px;
    }
    .contact-title{
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 48px;
        line-height: 1.18;
         text-align: center;
        text-transform: capitalize;
        color: var(--title-color);
        padding-top: 131px;
        padding-bottom: 97px;
    }
    .modal-form{
        padding-right: 116px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        min-width: 480px;
        border: 1px solid var(--bacgraund-color);
        
       
    }
    .modal-form-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .form-label-wrapp{
        display: flex;
        flex-direction: row;
    }
    .contact-form-field{
        display: flex;
        flex-direction: column;
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        color: var(--secondary-color);
        padding-bottom: 8px;
    }
    .location-icon{
        fill: var(--text-decoration-color);
    }
    .contact-form-field{        
        margin-top: 8px;
        margin-right: 20px;
    }
    .contact-form-field:not(:last-child){
        display: flex;
    }
    .contact-form-info:first-child{
        width: 230px;
        height: 52px;
        border: 1px solid #D7DADE;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .contact-form-info:not(:first-child){
        min-width: 480px;
        height: 52px;
        border: 1px solid #D7DADE;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .contact-form-info{
        margin-top: 8px;
    }
    .address-contact-list{
        display: flex;
        align-items: flex-start;
        padding-right: 111px;
    }
    .address-contact-data{
        padding-right: 76px;
        padding-left: 116px;
    }
    .tell-wrapper{
        width: 252px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 28px;
    }
    .contact-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 57px;
        background: var(--icon-color);
        border-radius: 56.1518px;
        border: none;   
        cursor: pointer; 
        margin-top: 31px;
    }
    .contact-button-name{
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.56;
        color: var(--bacground-second-color);
        text-align: center;
        padding-right: 21px; 
    }
    .location-descr-title{
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.79;
        color: var(--text-decoration-color);
        padding-left: 26px;
    }
    .adress-position-descr{
        padding-left: 10px;
    }
    .address-location-title{
        display: flex;
        align-items: center;
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.56;
        color: var(--text-decoration-color);
    }
    .addres-location-descr{
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.56;
        color: var(--icon-color);
    }
    .tel-contact{
        display: flex;     
        flex-direction: column;   
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 2.54;
        color: var(--text-decoration-color);
    }
    .address-location1{
        width: 233px;
        padding-bottom: 23px;
    }
    .address-location2{
        width: 266px;
        padding-bottom: 23px;
    }
    .phone-wrapper{
        padding-left: 10px;
    }
    .mail-contact{
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 2.54;
        color: var(--text-decoration-color);
    }
    .address-link{        
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 2.54;
        color: var(--text-decoration-color);
    }
    .footer-list{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 116px;
        padding-bottom: 38px;
    }
    .footer-icon-wrapper{
        display: flex;
        order: 2;
        padding-right: 134px;
    }
    .contact-lang{
        display: flex;
        align-items: center;
    }
    .footer-link-selecta{
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        color: var(--contact-color); 
        text-transform: uppercase;
        padding-right: 301px;
    }
    .footer-link-selecta-descr{        
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        color: var(--contact-color); 
        text-transform: capitalize;
    }
    .footer-link-wrap{
        display: flex;
        order: 3;
    }
    .footer-link-Legal{
        font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        color: var(--contact-color); 
        text-transform: capitalize;
    }
    .footer-link-Legal:first-child{
        padding-right: 24px;
    }
    .input-form-wrapper{
        display: flex;
        padding-bottom: 4px;
    }
    .footer-social-likon{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 35px;
        min-height: 35px;
        fill: var(--bacground-second-color);
        background: var(--icon-color);
        border-radius: 5px;
    }
    .footer-social-likon:not(:first-child){
        margin-left: 5px;
    }
    .footer__icon-earth{
        fill: var(--icon-color);
    }
    .contact-lang{
        padding-left: 44px;
    }
    .input-field-wrapper{
        display: flex;
        flex-direction: column;
    }
    .contact-form-info-field{
        width: 480px;
        height: 52px;
        border: 1px solid #D7DADE;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .text-descr{
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        color: var(--contact-color); 
        padding-left: 9px;
        padding-right: 7px;
    }
}