
@media screen and(min-width: 320px) and (max-width: 1024px) {
    .our-skill{
        margin-bottom: 100px;
    }
    .skill-icon-list{
        display: none;
    }
    .container{       
        margin: 0 auto;
    }
    .wrapper-skill{ 
        width: 375px;     
        display: flex;   
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    .skill-img-wrapper1{
        position: relative;
        left: 39px;
        width: 293px;
        height: 223px;
        bottom: 7px;
    }
    .list-wrap{
        padding-top: 30px;
        padding-left: 24px;
    }
    .our-list-before{
        display: flex;
        padding-left: 19px;
        position: relative;
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 12px;
        line-height: 1.5;
        color: var(--second-title-color);
        text-transform: uppercase;
    }
    .before-wrapper{
        display: flex;
        justify-content: center;
        padding: 0px;
    }
       .before-wrapper::before{
        display: none;
    }
    .our-list-before::before{
        content: '';
        position: absolute;
        width: 12px;
        left: 0px;
        height: 0px;
        top: 7px;     
        background-color: var(--second-title-color);   
        border: 1px solid #303030;
        
    }
    .before-wrapper{
        padding-top: 30px;
    }
    .skill-title{
        text-align: center;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 34px;
        line-height: 1.117;
        text-transform: capitalize;
        color: var(--second-title-color);
        margin: 12px 0px;
    }
    .skill-descr{
        width: 221px;
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.64;
        color: var(--secondary-color);
        margin: 12px 0px;
    }
    .skill-img-wrapper2{
        position: relative;
        left: 26px;
        width: 306px;
        height: 252px;
    }
    .skill-img-wrapper3{
        position: relative;
        left: 47px;
        bottom: 36px;
        width: 284px;
        height: 282px;
    }
    .skill-img-wrapper4{
        position: relative;
        left: 47px;
        width: 284px;
        height: 280px;
    }
    .wrapper-big-card{
        width: 331px;
        height: 413px;
        background: var(--bacground-second-color);
        box-shadow: 7.19386px 7.19386px 32.3724px rgba(87, 99, 122, 0.12);
        border-radius: 15px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: background 550ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .wrapper-big-card:hover,
    .wrapper-big-card:focus{
        background: #E1F1F3;
    }
    .skill-img-wrapper5{
        bottom: 10px;
        position: relative;
        width: 245px;
        left: 81px;
    }
    .wrapper-small-card{
        position: relative;
        width: 331px;
        height: 386px;
        background: var(--bacground-second-color);
        box-shadow: 7.19386px 7.19386px 32.3724px rgba(87, 99, 122, 0.12);
        border-radius: 15px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: background 550ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .wrapper-small-card:hover,
    .wrapper-small-card:focus{
        background: #E1F1F3;
    }
    .skill-img-wrapper6{
        width: 253px;
        left: 79px;
        bottom: 4px;
        position: relative;
    }
    .wrapper-big-large-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 331px;
        height: 273px;
        background: var(--bacground-second-color);
        box-shadow: 7.19386px 7.19386px 32.3724px rgba(87, 99, 122, 0.12);
        border-radius: 15px;
        margin: 0 auto;
        cursor: pointer;
        transition: background 550ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .wrapper-big-large-card:hover,
    .wrapper-big-large-card:focus{
        background: #E1F1F3;
    }
    .skill-descr-cart7{
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.64;
        text-align: center;
        color: var(--secondary-color);
    }
    .skill-img-wrapper7{
        position: relative;
        width: 400px;
        bottom: 5px;
    }
    .list-wrap7{
        padding-top: 30px;
     text-align: center;
    }
}
@media screen and (min-width: 1025px) {
    .our-skill{
       margin-top: 85px;
    }
    .wrapper-skill{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        
    }
    .wrapper-skill-item1{
        padding-right: 27px;
    }
    .wrapper-skill-item3{
        padding-right: 15px;
    }
    .wrapper-skill-item5{
        padding-right: 27px;
    }
    .wrapper-big-card{
        width: 763px;
        height: 370px;
        background: var(--bacground-second-color);
        box-shadow: 7.19386px 7.19386px 32.3724px rgba(87, 99, 122, 0.12);
        border-radius: 15px;
        margin-bottom: 28px;
        transition: background 550ms cubic-bezier(0.4, 0, 0.2, 1);        
        cursor: pointer;
    }
    .wrapper-small-card{
        cursor: pointer;
        position: relative;
        width: 369px;
        height: 370px;
        background: var(--bacground-second-color);
        box-shadow: 7.19386px 7.19386px 32.3724px rgba(87, 99, 122, 0.12);
        border-radius: 15px;
        margin-bottom: 28px;
        transition: background 550ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .wrapper-small-card::nth-child(2n+1){
        margin-left: 100px;
    }
    .wrapper-small-card:hover,
    .wrapper-small-card:focus{
        background: #E1F1F3;
    }  
    .wrap-field{
        height: 412px;
    }  
    .list-wrap{
        padding-top: 38px;
        padding-left: 42px;
    }
    .skill-title{
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        color: var(--second-title-color);
        margin: 12px 0px;
    }
    .skill-descr{
        width: 221px;
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.64;
        color: var(--secondary-color);
        margin: 12px 0px;
    }
    .skill-descr-cart7{
         font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.64;
        color: var(--secondary-color);
        margin: 12px 0px;
    }
    .wrapper-big-card:hover,
    .wrapper-big-card:focus{
        background: #E1F1F3;
    }
    .img-wrapper1{
        position: relative;
        width: 414px;
        height: 315px;
        left: 361px;
        padding-bottom: 23px;
        bottom: 142px;
    }  
    .img-wrapper2{
        position: relative;
        left: 64px;
        bottom: 22px;
        width: 306px;
        height: 252px;
    }
    .img-wrapper3{
        position: relative;
        width: 306.3px;
        height: 303.73px;
        left: 62px;
        bottom: 45px;
    }
    .img-wrapper4{
        position: relative;
        width: 442px;
        height: 435px;
        left: 322px;
        bottom: 170px;
    }
    .img-wrapper5{
        position: relative;
        width: 337.94px;
        height: 382px;
        left: 380px;
        bottom: 207px;
    }
    .img-wrapper6{
        position: relative;
        width: 253px;
        height: 223px;
        left: 117px;
        bottom: 34px;
    }
    .wrapper-big-large-card{
        width: 1157px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        background: var(--bacground-second-color);
        box-shadow: 7.19386px 7.19386px 32.3724px rgba(87, 99, 122, 0.12);
        border-radius: 15px;
        transition: background 550ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 0 auto;
    }
    .wrapper-big-large-card:hover,
    .wrapper-big-large-card:focus{
        background: #E1F1F3;
    }
    .list-big-large-card{
        padding-top: 38px;
     text-align: center;
    }
    .skill-icon-list{
        display: flex;
        justify-content: space-evenly;          
        padding: 29px;     
    }
    .skill-icon_item{
  display: flex;
    }
    .icon-skill{
        margin-right: 7px;
        fill: var(--contact-link-kolor);
        
    }
    .icon-skill-descr{
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.16;
        color: var(--contact-link-kolor);
    }
    .our-list-before{
        padding-left: 19px;
        position: relative;
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 12px;
        line-height: 1.5;
        color: var(--second-title-color);
        text-transform: uppercase;
    }
    .before-wrapper{
        display: flex;
        justify-content: center;
        padding: 0px;
    }
       .before-wrapper::before{
        display: none;
    }
    .our-list-before::before{
        content: '';
        position: absolute;
        width: 12px;
        left: 0px;
        height: 0px;
        top: 6px;     
        background-color: var(--second-title-color);   
        border: 1px solid #303030;
        
    }
    
}