:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --accent-color:#E5E5E5 ;
    --text-decoration-color: #2A2A2A;
    --text-second-color: #28B7A3;
    --title-color:#2B2B2B;
    --second-title-color: #303030;
    --secondary-color: #595F73;
    --contact-color: #757A85;
    --contact-link-kolor:#38AEBE ;
    --bacgraund-color: #F6F7FA;
    --bacground-second-color: #FFFFFF;
    --icon-color: #3095A3;
    --icon-second-color:#383838;
    --png-accent-color: #404040;
    --burger-text-color:#4F93A1;
  }