@media screen and (min-width: 320px) and (max-width: 1024px) {
    .contact{
      margin-top: 100px;
    }
    .management{
        margin: 0 auto;
    }
     .management-wrapper{
       display: flex;
       flex-direction: column;
       align-items: center;
      }
      .wrapper-management1, .wrapper-management2, .wrapper-management3{
      width: 343px;
      }
      .management-descr2, .management-descr3{
          margin-top: 60px;
      }
      .management-title1, .management-title2, .management-title3{
       font-family: var(----main-font);
       font-weight: 700;
       font-size: 34px;
       line-height: 1.11;
       text-transform: capitalize;
       color: var(--title-color);
       padding-top: 40px;
       padding-bottom: 20px;
      }
     .management-item1, .management-item2, .management-item3 {    
       width: 341px;
       font-family: var(--secondary-font);
       font-weight: 500;
       font-size: 16px;
       line-height: 1.56;
        color: var(--secondary-color);
         }
   }
   @media screen and (min-width: 1025px){
    .management{
        margin: 0 auto;
    }
   
    .management-wrapper{
       display: flex;
       flex-direction: column;
       align-items: center;
     }
     .management-descr1{
       display: flex;
       align-items: center;
     }
     .management-descr2{
       display: flex;
       flex-direction: row-reverse;
       align-items: center;
       padding-top: 185px;
     }
     .management-descr3{
       display: flex;
       align-items: center;
       padding-top: 180px;
     }
     
     .management-title1, .management-title2, .management-title3{
       font-family: var(----main-font);
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: -1.7px;
       text-transform: capitalize;
       color: var(--title-color);
       padding-bottom: 30px;
     }
     .management-item1, .management-item2, .management-item3{
       font-family: var(----main-font);
       font-weight: 400;
       font-size: 16px;
       line-height: 1.375;  
       color: var(--secondary-color);
     }
     .wrapper-management1{
       margin-left: 136px;
       max-width: 367px;
     }
     .wrapper-management2{
       margin-right: 128px;
       max-width: 422px;
     }
     .wrapper-management3{
       margin-left: 132px;
       max-width: 414px;
     }
     .management-title2{
         width: 390px;
         padding-top: 70px;
     }
    
   }