@media screen and (min-width: 340px) and (max-width: 1024px) {
    .contact{
      margin-top: 100px;
    }
     .branding-wrapper{
       display: flex;
       flex-direction: column;
       align-items: center;
      }
      .wrapper-branding1, .wrapper-branding2, .wrapper-branding3, .wrapper-branding4{
        margin-top: 40px;
      }
      .branding-descr2, .branding-descr3, .branding-descr4, .branding-descr1{
        width: 343px;
      }
      .branding-descr2, .branding-descr3, .branding-descr4 {
        margin-top: 60px;
      }
      .branding-title1, .branding-title2, .branding-title3, .branding-title4{
       font-family: var(----main-font);
       font-weight: 700;
       font-size: 34px;
       line-height: 1.11;
       text-transform: capitalize;
       color: var(--title-color);
       padding-bottom: 20px;
      }
      .branding-item-mobile{
        font-family: var(--secondary-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.56;
        color: #595F73;
      }
      .branding-item1, .branding-item2, .branding-item3, .branding-item4{    
      display: none;
         }
         .button-branding{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 190px;
          height: 57px;
          margin: 20px 54px;
          background: var(--icon-color);
          border-radius: 56.1518px;
          border: none;   
          cursor: pointer; 
       }
          .button-branding-name{
              font-family: var(--main-font);
              font-weight: 500;
              font-size: 16px;
              line-height: 1.56;
              color: var(--bacground-second-color);
              text-align: center;            
              padding-right: 21px; 
          }
      .button-branding-icon{
          fill: var(--bacground-second-color);     
          transition-duration: 1.7s;
      }
      .button-branding:hover .button-branding-icon,
      .button-branding:hover .button-branding-icon{     
       transform: translateX(14px);
      }
   }
   @media screen and (min-width: 1025px){
     .branding-item-mobile{
       display: none;
     }
   .visual-branding{
    max-width: 1220px;
     margin: 0 auto;
   }
        .branding-wrapper{
       display: flex;
       flex-direction: column;
       margin: 0 142px;
     }
     .branding-descr1{
       display: flex;
       align-items: center;
     }
     .branding-descr2{
       display: flex;
       flex-direction: row-reverse;
       align-items: center;
       padding-top: 185px;
     }
     .branding-descr3{
       display: flex;
       align-items: center;
       padding-top: 185px;
     }
     
     .branding-descr4{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding-top: 185px;
    }
    .wrapper-branding1{
      margin-left: 135px;
     width:326px;
    }
    .wrapper-branding2{
      margin-right: 147px;
     width:390px;
    }
    .wrapper-branding3{
      margin-left: 135px;
     width:350px;
    }
    .wrapper-branding4{
      margin-right: 183px;
     width:354px;
    }
     
    .branding-title1, .branding-title2, .branding-title3, .branding-title4 {
       font-family: var(----main-font);
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: -1.7px;
       text-transform: capitalize;
       color: var(--title-color);
       padding-bottom: 30px;
     }
     .branding-item1, .branding-item2, .branding-item3, .branding-item4 {
       font-family: var(----main-font);
       font-weight: 400;
       font-size: 16px;
       line-height: 1.375;  
       color: var(--secondary-color);
     }
     .button-branding{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 190px;
      height: 57px;
      margin: 20px 77px;
      background: var(--icon-color);
      border-radius: 56.1518px;
      border: none;   
      cursor: pointer; 
   }
      .button-branding-name{
          font-family: var(--main-font);
          font-weight: 500;
          font-size: 16px;
          line-height: 1.56;
          color: var(--bacground-second-color);
          text-align: center;            
          padding-right: 21px; 
      }
  .button-branding-icon{
      fill: var(--bacground-second-color);     
      transition-duration: 0.7s;
      // transition-delay: 1s;
  }
  .button-branding:hover .button-branding-icon,
  .button-branding:hover .button-branding-icon{     
   transform: translateX(14px);
  }
    
   }